// Specific CSS for your home-page

// @import "component/navbar"
.cosplay_image {
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 5px 5px 3px slategrey;
  padding: 5px;
  width: 150px;
  object-fit: contain;
  }

.text-header {
  text-align: center;
  font-size: 100px;
  color: rgb(142, 142, 223)
}

.animate-charcter
{
  background-image: linear-gradient(
    -225deg,
    #5279b3 0%,
    #3b5668 29%,
    #288192 67%,
    #0c0c0c 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: flex;
  justify-content: center;
  font-size: 90px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}


.carousel-inner {
  position: relative;
  max-width: 100%;
  height: auto;
  padding: 10px;
  font-size: 20px;
  top: 0;

  .button-cosplay {
    position: absolute;
    right: 50%;
    top:50%;
    transform: translate(-50%, -50%);
  }
}
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

.layout {
  padding-bottom: 100px;
  min-height: 95vh;
}
