// Specific CSS for your home-page

.text-header {
  text-align: center;
  font-size: 100px;
  color: rgb(142, 142, 223)
}

.animate-charcter
{
  background-image: linear-gradient(
    -225deg,
    #6853b3 0%,
    #799fb9 29%,
    #5299a5 67%,
    #86e2e6 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: flex;
  justify-content: center;
  font-size: 90px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}


.carousel-inner {
  position: relative;
  max-width: 100%;
  height: auto;
  .button-cosplay {
    position: absolute;
    right: 50%;
    top:50%;
    transform: translate(-50%, -50%);
  }


}
