<%#
<%=
 <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://img.freepik.com/free-vector/young-man-various-fighter-costume-with-weapon-cartoon-style-graphic-designer-ninja-vector-illustration_1150-61254.jpg?w=900&t=st=1665577336~exp=1665577936~hmac=a26dc675d8f8afc2391963a6edf0e4e5b8764d6c3b6e08a6a135aab9b685af16);">
  <div class="container">
    <h1>
     <strong>WElCOME TO COSPLAY WORLD</strong>!
    </h1>

  </div>
</div>
%
