
<div class="d-flex flex-column allign-items-center ">
  <h1 class="animate-charcter">
    CosMauPlay
  </h1>
</div>
<div id="carouselExampleControlsNoTouching" class="carousel slide" data-bs-touch="false" data-bs-interval="false">
  <div class="carousel-inner">
    <div class="carousel-item active">
     <%# <a class="btn btn-secondary btn-lg button-cosplay" href= "/cosplays" >Display Cosplays</a> %>
      <img src="https://images.unsplash.com/photo-1605663839223-7fe37a3755a5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=653&q=80" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <%# <a class="btn btn-secondary btn-lg button-cosplay" href= "/cosplays" >Display Cosplays</a> %>
      <img src="https://www.animegastore.com/mobile/images/shop/jujutsukaisen/jj011.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
     <%# <a class="btn btn-secondary btn-lg button-cosplay" href= "/cosplays" >Display Cosplays</a> %>
      <img src="https://images.unsplash.com/photo-1642456074142-92f75cb84533?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" class="d-block w-100" alt="...">
    </div>
     <div class="carousel-item">
     <%# <a class="btn btn-secondary btn-lg button-cosplay" href= "/cosplays" >Display Cosplays</a> %>
      <img src="https://www.belloflostsouls.net/wp-content/uploads/2020/11/117769261_3271558252920934_8354773004161752511_o-1-e1605887750913.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
