

<%# <div class="body">
  <div>

    </div>
    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
      url(https://img.freepik.com/free-vector/young-man-various-fighter-costume-with-weapon-cartoon-style-graphic-designer-ninja-vector-illustration_1150-61254.jpg?w=900&t=st=1665577336~exp=1665577936~hmac=a26dc675d8f8afc2391963a6edf0e4e5b8764d6c3b6e08a6a135aab9b685af16);">
      <div>
        <h1 class="animate-charcter">WELCOME TO COSPLAY WORLD!</h1>
      </div>
    </div>
  </div>
</div> %>
<div class="d-flex flex-column allign-items-center">
  <h1 class="animate-charcter">
    CosMauPlay
  </h1>
</div>
<div id="carouselExampleControlsNoTouching" class="carousel slide" data-bs-touch="false" data-bs-interval="false">
  <div class="carousel-inner">
    <div class="carousel-item active">
     <a class="btn btn-secondary btn-lg button-cosplay" href= "/cosplays" >Display Cosplays</a>
      <img src="https://images.unsplash.com/photo-1605663839223-7fe37a3755a5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=653&q=80" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <a class="btn btn-secondary btn-lg button-cosplay" href= "/cosplays" >Display Cosplays</a>
      <img src="https://images.unsplash.com/photo-1649756219222-f2e2549b4306?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
     <a class="btn btn-secondary btn-lg button-cosplay" href= "/cosplays" >Display Cosplays</a>
      <img src="https://images.unsplash.com/photo-1642456074142-92f75cb84533?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
