<div><h1>Welcome To CosMauPlay </h1> <div>

<div class="banner" style="background-image: url(https://www.kindpng.com/picc/m/276-2766737_halloween-accessories-banner-halloween-costume-hd-png-download.png);">
  <div class="container">
    <h1> <strong>Bring Passionate</strong> <strong>People Together</strong>!</h1>
    <p>Make your fantasy a reality </p>
    <%= link_to "Display Cosplay", cosplays_path %>
  </div>
</div>
