.banner {
  background-size: cover;
  background-position: center;
  padding: 300px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(223, 202, 202, 0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: rgb(255, 21, 21);
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(250, 248, 248, 0.945);
}
