.cosplay-image {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  object-fit: cover;

  img {
    width: 100%;
    height: 300px;
  }
}
.search-form-control {
  width: 60%;
  margin: 0 auto;
  border-radius: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
}
